* {
	margin:0;
	padding:0;
	color:white;
	font-family: sans-serif;
}

body {
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}


/* Start of Header Styling */
header {
	width:100%;
	background-color: #0d314c;
	margin-bottom: 25px;
	box-shadow: 2px 2px 10px 2px black;
	font-family: sans-serif;
	text-shadow: 2px 2px 3px black;
}

header nav {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	font-size: 26px;
}

header nav ul {
    list-style-type: none;
	padding-top: 30px;
	padding-bottom:30px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
	color: white;
	font-style: oblique;
	text-decoration: none;
}
/* End of Header Styling */

.section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

/* Start of About Me Article Styling */
.container {
	display:flex;
	flex-direction:column;
	flex-wrap: nowrap;
	width: 65%;
	margin-left: 10px;
}

.aboutmeSection {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #233644;
	height: 250px;
	justify-content: space-between;
	padding:5%;
	width: 100%;
	box-shadow: 2px 2px 8px 2px black;
	margin-bottom: 25px;
}

.aboutMe {
	display:flex;
	flex-direction: column;
	justify-content: flex-start; 
	padding-left: 3%;
	align-items: flex-start;
}

.resume {
	background-color: #233644;
	padding: 5%;
	width: 100%;
	display:flex;
	justify-content: center;
	box-shadow:  2px 2px 8px 2px black;
	margin-bottom: 25px;
}
/* End of About Me Article Styling */

.aside {
	width: 25%;
	background-color: #233644;
	box-shadow:  2px 2px 8px 2px black;
	height:auto;
	margin: 0 1% 1% 1%;
}

.works {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.images {
	width: 90%;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.footer {
	margin-top: 10px;
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	height: 142px;
	width: auto;
	padding-top: 35px;
}

footer div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.resSize {
	width: 100vh;
	height: 1080px;
}

.news {
	font-style: italic;
	text-decoration: underline;
}

.shadow {
	text-shadow: 2px 2px 3px black;
	font-family: sans-serif;
	font-style: oblique;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	box-shadow: inset 0 0 5px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
